html{
    min-height:100%;
    position:relative
}
body{
    padding-bottom:0;
    background-color:#e4e6e9;
    min-height:100%;
    font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size:13px;
    color:#393939;
    line-height:1.5
}
.block {
    display: block!important;
}
.hidden {
	display: none !important;
}
.text-strong-default {
	color: black;
	font-weight: bolder;
}
.error-tip {
	color: #a94442;
}
.form-control[disabled],.form-control[readonly],fieldset[disabled] .form-control {
	cursor: default !important;
}
.form-control.datepicker {
	cursor: pointer !important;
}
[class*=" icon-"],[class^="icon-"]{
    display:inline-block;
    text-align:center
}
a:focus,a:active{
    text-decoration:none
}
h1{
    font-size:32px;
    font-weight:normal;
    font-family:"Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif
}
h2{
    font-size:26px;
    font-weight:normal;
    font-family:"Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif
}
h3{
    font-size:22px;
    font-weight:normal;
    font-family:"Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif
}
h4{
    font-size:18px;
    font-weight:normal;
    font-family:"Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif
}
h5{font-size:15px;font-weight:normal;font-family:"Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif}
h6{font-size:13px;font-weight:normal;font-family:"Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif}
ul,ol{margin:0 0 10px 25px;padding:0}
ul.margin-5,ol.margin-5{margin-left:5px}
ul.margin-10,ol.margin-10{margin-left:10px}
ul.margin-15,ol.margin-15{margin-left:15px}
ul.margin-20,ol.margin-20{margin-left:20px}
li>ul,li>ol{margin-left:18px}
.list-unstyled,.list-inline{margin-left:0}
.list-unstyled>li>[class*="icon-"]:first-child,.list-inline>li>[class*="icon-"]:first-child{width:18px;text-align:center}
.spaced>li{margin-top:9px;margin-bottom:9px}
.spaced2>li{margin-top:15px;margin-bottom:15px}
li.divider{margin-top:3px;margin-bottom:3px;height:0;font-size:0}
.spaced>li.divider{margin-top:5px;margin-bottom:5px}
.spaced2>li.divider{margin-top:8px;margin-bottom:8px}
li.divider:before{content:"";display:inline-block}
blockquote,blockquote.pull-right{border-color:#e5eaf1}
.modal-content{border-radius:0;-webkit-box-shadow:none;box-shadow:none}
.modal-footer{padding-top:12px;padding-bottom:14px;border-top-color:#e4e9ee;-webkit-box-shadow:none;box-shadow:none;background-color:#eff3f8}
.modal-header .close{font-size:32px}
.pagination>li>a,.pager>li>a,.pagination>li>span,.pager>li>span{border-width:1px;border-radius:0!important}
.pagination>li>a,.pager>li>a{color:#2283c5;background-color:#fafafa;margin:0 -1px 0 0;border-color:#e0e8eb}
.pagination>li>a:hover,.pager>li>a:hover{background-color:#eaeff2}
.pagination>li>a:focus,.pager>li>a:focus{background-color:#eaeef2}
.pagination>li.disabled>a,.pagination>li.disabled>a:hover,.pager>li.disabled>a,.pager>li.disabled>a:hover{background-color:#f9f9f9;border-color:#d9d9d9}
.pagination>li.active>a,.pagination>li.active>a:hover{background-color:#6faed9;border-color:#6faed9;color:#fff;text-shadow:0 -1px 0 rgba(0,0,0,0.25)}

.inline{display:inline-block!important}

.breadcrumbs{position:relative;border-bottom:1px solid #e5e5e5;background-color:#f3f3f3;min-height:41px;line-height:40px;padding:0 12px 0 0;display:block}
.breadcrumb{background-color:transparent;display:inline-block;line-height:24px;margin:0 22px 0 12px;padding:0;font-size:13px;color:#333;border-radius:0}
.breadcrumb>li,.breadcrumb>li.active{color:#555}
.breadcrumb>li>a{display:inline-block;padding:0 4px;color:#428bca}
.breadcrumb>li+li:before{font-family:FontAwesome;font-size:14px;content:"\f105";color:#b2b6bf;margin-right:2px;padding:0 5px 0 2px;position:relative;top:1px}
.breadcrumb .home-icon{margin-left:4px;margin-right:2px;font-size:20px;position:relative;top:2px}

.btn{display:inline-block;color:#FFF!important;text-shadow:0 -1px 0 rgba(0,0,0,0.25)!important;background-image:none!important;border:5px solid #FFF;
    border-radius:0;box-shadow:none!important;-webkit-transition:all ease .15s;transition:all ease .15s;cursor:pointer;vertical-align:middle;margin:0;
    position:relative}
.btn-lg{border-width:5px;line-height:1.35;padding:7px 16px}
.btn-sm{border-width:4px;font-size:13px;padding:4px 9px;line-height:1.39}
.btn-xs{border-width:3px}
.btn-minier{padding:0 4px;line-height:18px;border-width:2px;font-size:12px}
button.btn:active{top:1px;left:1px}
.btn,.btn-default,.btn:focus,.btn-default:focus{background-color:#abbac3!important;border-color:#abbac3}
.btn:hover,.btn-default:hover,.open .btn.dropdown-toggle,.open .btn-default.dropdown-toggle{background-color:#8b9aa3!important;border-color:#abbac3}
.btn.no-border:hover,.btn-default.no-border:hover{border-color:#8b9aa3}
.btn.no-hover:hover,.btn-default.no-hover:hover{background-color:#abbac3!important}
.btn.active,.btn-default.active{background-color:#9baab3!important;border-color:#8799a4}
.btn.no-border.active,.btn-default.no-border.active{background-color:#92a3ac!important;border-color:#92a3ac}
.btn.disabled,.btn-default.disabled,.btn[disabled],.btn-default[disabled],fieldset[disabled] .btn,fieldset[disabled] .btn-default,.btn.disabled:hover,
.btn-default.disabled:hover,.btn[disabled]:hover,.btn-default[disabled]:hover,fieldset[disabled] .btn:hover,fieldset[disabled] .btn-default:hover,
.btn.disabled:focus,.btn-default.disabled:focus,.btn[disabled]:focus,.btn-default[disabled]:focus,fieldset[disabled] .btn:focus,
fieldset[disabled] .btn-default:focus,.btn.disabled:active,.btn-default.disabled:active,.btn[disabled]:active,.btn-default[disabled]:active,
fieldset[disabled] .btn:active,fieldset[disabled] .btn-default:active,.btn.disabled.active,.btn-default.disabled.active,.btn[disabled].active,
.btn-default[disabled].active,fieldset[disabled] .btn.active,fieldset[disabled] .btn-default.active{background-color:#abbac3!important;
    border-color:#abbac3}.btn-primary,.btn-primary:focus{background-color:#428bca!important;border-color:#428bca}
.btn-primary:hover,.open .btn-primary.dropdown-toggle{background-color:#1b6aaa!important;border-color:#428bca}
.btn-primary.no-border:hover{border-color:#1b6aaa}
.btn-primary.no-hover:hover{background-color:#428bca!important}
.btn-primary.active{background-color:#2f7bba!important;border-color:#27689d}
.btn-primary.no-border.active{background-color:#2b72ae!important;border-color:#2b72ae}
.btn-primary.disabled,.btn-primary[disabled],fieldset[disabled] .btn-primary,.btn-primary.disabled:hover,.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary:hover,.btn-primary.disabled:focus,.btn-primary[disabled]:focus,fieldset[disabled] .btn-primary:focus,
.btn-primary.disabled:active,.btn-primary[disabled]:active,fieldset[disabled] .btn-primary:active,.btn-primary.disabled.active,
.btn-primary[disabled].active,fieldset[disabled] .btn-primary.active{background-color:#428bca!important;border-color:#428bca}
.btn-info,.btn-info:focus{background-color:#a0d468!important;border-color:#a0d468}
.btn-info:hover,.open .btn-info.dropdown-toggle{background-color:#61b901!important;border-color:#a0d468}
.btn-info.no-border:hover{border-color:#4f99c6}
.btn-info.no-hover:hover{background-color:#6fb3e0!important}
.btn-info.active{background-color:#5fa6d3!important;border-color:#4396cb}
.btn-info.no-border.active{background-color:#539fd0!important;border-color:#539fd0}
.btn-info.disabled,.btn-info[disabled],fieldset[disabled] .btn-info,.btn-info.disabled:hover,.btn-info[disabled]:hover,
fieldset[disabled] .btn-info:hover,.btn-info.disabled:focus,.btn-info[disabled]:focus,fieldset[disabled] .btn-info:focus,.btn-info.disabled:active,
.btn-info[disabled]:active,fieldset[disabled] .btn-info:active,.btn-info.disabled.active,.btn-info[disabled].active,
fieldset[disabled] .btn-info.active{background-color:#6fb3e0!important;border-color:#6fb3e0}
.btn-success,.btn-success:focus{background-color:#ffce55!important;border-color:#ffce55}
.btn-success:hover,.open .btn-success.dropdown-toggle{background-color:#cf9402!important;border-color:#ffce55}
.btn-success.no-border:hover{border-color:#629b58}.btn-success.no-hover:hover{background-color:#87b87f!important}
.btn-success.active{background-color:#75aa6c!important;border-color:#629959}
.btn-success.no-border.active{background-color:#6ba462!important;border-color:#6ba462}
.btn-success.disabled,.btn-success[disabled],fieldset[disabled] .btn-success,.btn-success.disabled:hover,.btn-success[disabled]:hover,
fieldset[disabled] .btn-success:hover,.btn-success.disabled:focus,.btn-success[disabled]:focus,fieldset[disabled] .btn-success:focus,
.btn-success.disabled:active,.btn-success[disabled]:active,fieldset[disabled] .btn-success:active,.btn-success.disabled.active,
.btn-success[disabled].active,fieldset[disabled] .btn-success.active{background-color:#87b87f!important;border-color:#87b87f}
.btn-warning,.btn-warning:focus{background-color:#fb6e52!important;border-color:#fb6e52}
.btn-warning:hover,.open .btn-warning.dropdown-toggle{background-color:#c42303!important;border-color:#fb6e52}
.btn-warning.no-border:hover{border-color:#e59729}.btn-warning.no-hover:hover{background-color:#ffb752!important}
.btn-warning.active{background-color:#f2a73e!important;border-color:#f0981c}
.btn-warning.no-border.active{background-color:#f1a02f!important;border-color:#f1a02f}
.btn-warning.disabled,.btn-warning[disabled],fieldset[disabled] .btn-warning,.btn-warning.disabled:hover,.btn-warning[disabled]:hover,
fieldset[disabled] .btn-warning:hover,.btn-warning.disabled:focus,.btn-warning[disabled]:focus,fieldset[disabled] .btn-warning:focus,
.btn-warning.disabled:active,.btn-warning[disabled]:active,fieldset[disabled] .btn-warning:active,.btn-warning.disabled.active,
.btn-warning[disabled].active,fieldset[disabled] .btn-warning.active{background-color:#ffb752!important;border-color:#ffb752}
.btn-danger,.btn-danger:focus{background-color:#9bdae9!important;border-color:#9bdae9}
.btn-danger:hover,.open .btn-danger.dropdown-toggle{background-color:#029abe!important;border-color:#9bdae9}
.btn-danger.no-border:hover{border-color:#b74635}.btn-danger.no-hover:hover{background-color:#d15b47!important}
.btn-danger.active{background-color:#c4513e!important;border-color:#aa4434}
.btn-danger.no-border.active{background-color:#ba4b39!important;border-color:#ba4b39}
.btn-danger.disabled,.btn-danger[disabled],fieldset[disabled] .btn-danger,.btn-danger.disabled:hover,.btn-danger[disabled]:hover,
fieldset[disabled] .btn-danger:hover,.btn-danger.disabled:focus,.btn-danger[disabled]:focus,fieldset[disabled] .btn-danger:focus,
.btn-danger.disabled:active,.btn-danger[disabled]:active,fieldset[disabled] .btn-danger:active,.btn-danger.disabled.active,.btn-danger[disabled].active,
fieldset[disabled] .btn-danger.active{background-color:#d15b47!important;border-color:#d15b47}
.btn-inverse,.btn-inverse:focus{background-color:#555!important;border-color:#555}
.btn-inverse:hover,.open .btn-inverse.dropdown-toggle{background-color:#303030!important;border-color:#555}
.btn-inverse.no-border:hover{border-color:#303030}
.btn-inverse.no-hover:hover{background-color:#555!important}
.btn-inverse.active{background-color:#434343!important;border-color:#313131}
.btn-inverse.no-border.active{background-color:#3b3b3b!important;border-color:#3b3b3b}
.btn-inverse.disabled,.btn-inverse[disabled],fieldset[disabled] .btn-inverse,.btn-inverse.disabled:hover,.btn-inverse[disabled]:hover,
fieldset[disabled] .btn-inverse:hover,.btn-inverse.disabled:focus,.btn-inverse[disabled]:focus,fieldset[disabled] .btn-inverse:focus,
.btn-inverse.disabled:active,.btn-inverse[disabled]:active,fieldset[disabled] .btn-inverse:active,.btn-inverse.disabled.active,
.btn-inverse[disabled].active,fieldset[disabled] .btn-inverse.active{background-color:#555!important;border-color:#555}
.btn-pink,.btn-pink:focus{background-color:#d6487e!important;border-color:#d6487e}
.btn-pink:hover,.open .btn-pink.dropdown-toggle{background-color:#b73766!important;border-color:#d6487e}
.btn-pink.no-border:hover{border-color:#b73766}.btn-pink.no-hover:hover{background-color:#d6487e!important}
.btn-pink.active{background-color:#c74072!important;border-color:#af3462}
.btn-pink.no-border.active{background-color:#be386a!important;border-color:#be386a}
.btn-pink.disabled,.btn-pink[disabled],fieldset[disabled] .btn-pink,.btn-pink.disabled:hover,.btn-pink[disabled]:hover,
fieldset[disabled] .btn-pink:hover,.btn-pink.disabled:focus,.btn-pink[disabled]:focus,fieldset[disabled] .btn-pink:focus,.btn-pink.disabled:active,
.btn-pink[disabled]:active,fieldset[disabled] .btn-pink:active,.btn-pink.disabled.active,.btn-pink[disabled].active,
fieldset[disabled] .btn-pink.active{background-color:#d6487e!important;border-color:#d6487e}
.btn-purple,.btn-purple:focus{background-color:#9585bf!important;border-color:#9585bf}
.btn-purple:hover,.open .btn-purple.dropdown-toggle{background-color:#7461aa!important;border-color:#9585bf}
.btn-purple.no-border:hover{border-color:#7461aa}.btn-purple.no-hover:hover{background-color:#9585bf!important}
.btn-purple.active{background-color:#8573b5!important;border-color:#705ca8}
.btn-purple.no-border.active{background-color:#7c69af!important;border-color:#7c69af}
.btn-purple.disabled,.btn-purple[disabled],fieldset[disabled] .btn-purple,.btn-purple.disabled:hover,.btn-purple[disabled]:hover,
fieldset[disabled] .btn-purple:hover,.btn-purple.disabled:focus,.btn-purple[disabled]:focus,fieldset[disabled] .btn-purple:focus,
.btn-purple.disabled:active,.btn-purple[disabled]:active,fieldset[disabled] .btn-purple:active,.btn-purple.disabled.active,
.btn-purple[disabled].active,fieldset[disabled] .btn-purple.active{background-color:#9585bf!important;border-color:#9585bf}
.btn-grey,.btn-grey:focus{background-color:#a0a0a0!important;border-color:#a0a0a0}
.btn-grey:hover,.open .btn-grey.dropdown-toggle{background-color:#888!important;border-color:#a0a0a0}
.btn-grey.no-border:hover{border-color:#888}
.btn-grey.no-hover:hover{background-color:#a0a0a0!important}
.btn-grey.active{background-color:#949494!important;border-color:#828282}
.btn-grey.no-border.active{background-color:#8c8c8c!important;border-color:#8c8c8c}
.btn-grey.disabled,.btn-grey[disabled],fieldset[disabled] .btn-grey,.btn-grey.disabled:hover,.btn-grey[disabled]:hover,
fieldset[disabled] .btn-grey:hover,.btn-grey.disabled:focus,.btn-grey[disabled]:focus,fieldset[disabled] .btn-grey:focus,
.btn-grey.disabled:active,.btn-grey[disabled]:active,fieldset[disabled] .btn-grey:active,.btn-grey.disabled.active,.btn-grey[disabled].active,
fieldset[disabled] .btn-grey.active{background-color:#a0a0a0!important;border-color:#a0a0a0}
.btn-yellow{color:#963!important;text-shadow:0 -1px 0 rgba(255,255,255,0.4)!important}
.btn-yellow,.btn-yellow:focus{background-color:#fee188!important;border-color:#fee188}
.btn-yellow:hover,.open .btn-yellow.dropdown-toggle{background-color:#f7d05b!important;border-color:#fee188}
.btn-yellow.no-border:hover{border-color:#f7d05b}
.btn-yellow.no-hover:hover{background-color:#fee188!important}
.btn-yellow.active{background-color:#fbd972!important;border-color:#f9cf4f}
.btn-yellow.no-border.active{background-color:#fad463!important;border-color:#fad463}
.btn-yellow.disabled,.btn-yellow[disabled],fieldset[disabled] .btn-yellow,.btn-yellow.disabled:hover,.btn-yellow[disabled]:hover,
fieldset[disabled] .btn-yellow:hover,.btn-yellow.disabled:focus,.btn-yellow[disabled]:focus,fieldset[disabled] .btn-yellow:focus,
.btn-yellow.disabled:active,.btn-yellow[disabled]:active,fieldset[disabled] .btn-yellow:active,.btn-yellow.disabled.active,.btn-yellow[disabled].active,
fieldset[disabled] .btn-yellow.active{background-color:#fee188!important;border-color:#fee188}
.btn-light{color:#888!important;text-shadow:0 -1px 0 rgba(250,250,250,0.25)!important}
.btn-light,.btn-light:focus{background-color:#e7e7e7!important;border-color:#e7e7e7}
.btn-light:hover,.open .btn-light.dropdown-toggle{background-color:#d9d9d9!important;border-color:#e7e7e7}
.btn-light.no-border:hover{border-color:#d9d9d9}
.btn-light.no-hover:hover{background-color:#e7e7e7!important}
.btn-light.active{background-color:#e0e0e0!important;border-color:#cecece}
.btn-light.no-border.active{background-color:#d8d8d8!important;border-color:#d8d8d8}
.btn-light.disabled,.btn-light[disabled],fieldset[disabled] .btn-light,.btn-light.disabled:hover,.btn-light[disabled]:hover,
fieldset[disabled] .btn-light:hover,.btn-light.disabled:focus,.btn-light[disabled]:focus,fieldset[disabled] .btn-light:focus,.btn-light.disabled:active,
.btn-light[disabled]:active,fieldset[disabled] .btn-light:active,.btn-light.disabled.active,.btn-light[disabled].active,
fieldset[disabled] .btn-light.active{background-color:#e7e7e7!important;border-color:#e7e7e7}
.btn-light.btn-xs:after{left:-2px;right:-2px;top:-2px;bottom:-2px}
.btn-light.btn-sm:after{left:-4px;right:-4px;top:-4px;bottom:-4px}
.btn-light.btn-large:after{left:-6px;right:-6px;top:-6px;bottom:-6px}
.btn.btn-white{border-width:1px;border-color:#CCC;color:#444!important;text-shadow:none!important;background-color:#FFF!important}
.btn.btn-white:hover,.btn.btn-white:focus{background-color:#ebebeb!important}
.btn.btn-white.no-border{border-color:#CCC}
.btn.disabled.active,.btn[disabled].active,.btn.disabled:focus,.btn[disabled]:focus,.btn.disabled:active,.btn[disabled]:active{outline:0}
.btn.disabled:active,.btn[disabled]:active{top:0;left:0}
.btn.active{color:#efe5b5}
.btn.active:after{display:inline-block;content:"";position:absolute;border-bottom:1px solid #efe5b5;left:-4px;right:-4px;bottom:-4px}
.btn.active.btn-sm:after{left:-3px;right:-3px;bottom:-3px}
.btn.active.btn-large:after{left:-5px;right:-5px;bottom:-5px}
.btn.active.btn-xs:after,.btn.active.btn-minier:after{left:-1px;right:-1px;bottom:-2px}
.btn.active.btn-minier:after{bottom:-1px}
.btn.active.btn-yellow:after{border-bottom-color:#c96338}
.btn.active.btn-light{color:#515151}
.btn.active.btn-light:after{border-bottom-color:#b5b5b5}
.btn>[class*="icon-"]{display:inline;margin-right:4px}
.btn>[class*="icon-"].icon-on-right{margin-right:0;margin-left:4px}
.btn>.icon-only[class*="icon-"]{margin:0;vertical-align:middle;text-align:center;padding:0}
.btn-large>[class*="icon-"]{margin-right:6px}
.btn-large>[class*="icon-"].icon-on-right{margin-right:0;margin-left:6px}
.btn-sm>[class*="icon-"]{margin-right:3px}.btn-sm>[class*="icon-"].icon-on-right{margin-right:0;margin-left:3px}
.btn-xs>[class*="icon-"],.btn-minier>[class*="icon-"]{margin-right:2px}
.btn-xs>[class*="icon-"].icon-on-right,.btn-minier>[class*="icon-"].icon-on-right{margin-right:0;margin-left:2px}
.btn.btn-link{border:none!important;background:transparent none!important;color:#08c!important;text-shadow:none!important;padding:4px 12px!important;
    line-height:20px!important}
.btn.btn-link:hover{background:none!important;text-shadow:none!important}
.btn.btn-link.active{background:none!important;text-decoration:underline;color:#009ceb!important}
.btn.btn-link.active:after{display:none}
.btn.btn-link.disabled,.btn.btn-link[disabled]{background:0;opacity:.65;filter:alpha(opacity=65)}
.btn.btn-link.disabled:hover,.btn.btn-link[disabled]:hover{background:none!important;text-decoration:none!important}
.btn.btn-no-border{border-width:0!important}
.btn-group>.btn,.btn-group>.btn+.btn{margin:0 1px 0 0}
.btn-group>.btn:first-child{margin:0 1px 0 0}
.btn-group>.btn:first-child,.btn-group>.btn:last-child{border-radius:0}
.btn-group>.btn>.caret{margin-top:15px;margin-left:1px;border-width:5px;border-top-color:#FFF}
.btn-group>.btn.btn-sm>.caret{margin-top:10px;border-width:4px}
.btn-group>.btn.btn-large>.caret{margin-top:18px;border-width:6px}
.btn-group>.btn.btn-xs>.caret{margin-top:9px;border-width:4px}
.btn-group>.btn.btn-minier>.caret{margin-top:7px;border-width:3px}
.btn-group>.btn+.btn.dropdown-toggle{padding-right:3px;padding-left:3px}
.btn-group>.btn+.btn-large.dropdown-toggle{padding-right:4px;padding-left:4px}
.btn-group .dropdown-toggle{border-radius:0}
.btn-group>.btn,.btn-group+.btn{margin:0 1px 0 0;border-width:3px}
.btn-group>.btn.active:after,.btn-group+.btn.active:after{left:-2px;right:-2px;bottom:-2px;border-bottom-width:1px}
.btn-group>.btn-large,.btn-group+.btn-large{border-width:4px}
.btn-group>.btn-large.active:after,.btn-group+.btn-large.active:after{left:-3px;right:-3px;bottom:-3px;border-bottom-width:1px}
.btn-group>.btn-sm,.btn-group+.btn-sm{border-width:2px}
.btn-group>.btn-sm.active:after,.btn-group+.btn-sm.active:after{left:-1px;right:-1px;bottom:-1px;border-bottom-width:1px}
.btn-group>.btn-xs,.btn-group+.btn-xs{border-width:1px}
.btn-group>.btn-xs.active:after,.btn-group+.btn-xs.active:after{left:0;right:0;bottom:0;border-bottom-width:1px}
.btn-group>.btn-minier,.btn-group+.btn-minier{border-width:1px}
.btn-group>.btn-minier.active:after,.btn-group+.btn-minier.active:after{left:0;right:0;bottom:0;border-bottom-width:1px}
.btn-group>.btn{border-radius:0!important}
.btn-group-vertical>.btn,.btn-group-vertical>.btn+.btn{margin:1px 0 0}
.btn-group-vertical>.btn:first-child{margin-right:0}
.btn.btn-app{display:inline-block;width:100px;font-size:18px;font-weight:normal;color:#FFF;text-align:center;
    text-shadow:0 -1px -1px rgba(0,0,0,0.2)!important;border:0;border-radius:12px;padding:12px 0 8px;margin:2px;line-height:1.7;position:relative}
.btn-app,.btn-app.btn-default,.btn-app.no-hover:hover,.btn-app.btn-default.no-hover:hover,.btn-app.disabled:hover,
.btn-app.btn-default.disabled:hover{background:#b4c2cc!important;
    background-image:-webkit-gradient(linear,left 0,left 100%,from(#bcc9d5),to(#abbac3))!important;
    background-image:-webkit-linear-gradient(top,#bcc9d5,0%,#abbac3,100%)!important;
    background-image:-moz-linear-gradient(top,#bcc9d5 0,#abbac3 100%)!important;
    background-image:linear-gradient(to bottom,#bcc9d5 0,#abbac3 100%)!important;
    background-repeat:repeat-x!important;
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffbcc9d5',endColorstr='#ffabbac3',GradientType=0)!important}
.btn-app:hover,.btn-app.btn-default:hover{background:#9baebc!important;
    background-image:-webkit-gradient(linear,left 0,left 100%,from(#a3b5c5),to(#93a6b2))!important;
    background-image:-webkit-linear-gradient(top,#a3b5c5,0%,#93a6b2,100%)!important;
    background-image:-moz-linear-gradient(top,#a3b5c5 0,#93a6b2 100%)!important;
    background-image:linear-gradient(to bottom,#a3b5c5 0,#93a6b2 100%)!important;
    background-repeat:repeat-x!important;
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffa3b5c5',endColorstr='#ff93a6b2',GradientType=0)!important}
.btn-app.btn-primary,.btn-app.btn-primary.no-hover:hover,.btn-app.btn-primary.disabled:hover{background:#2a8bcc!important;
    background-image:-webkit-gradient(linear,left 0,left 100%,from(#3b98d6),to(#197ec1))!important;
    background-image:-webkit-linear-gradient(top,#3b98d6,0%,#197ec1,100%)!important;
    background-image:-moz-linear-gradient(top,#3b98d6 0,#197ec1 100%)!important;
    background-image:linear-gradient(to bottom,#3b98d6 0,#197ec1 100%)!important;
    background-repeat:repeat-x!important;
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff3b98d6',endColorstr='#ff197ec1',GradientType=0)!important}
.btn-app.btn-primary:hover{background:#1d6fa6!important;
    background-image:-webkit-gradient(linear,left 0,left 100%,from(#267eb8),to(#136194))!important;
    background-image:-webkit-linear-gradient(top,#267eb8,0%,#136194,100%)!important;
    background-image:-moz-linear-gradient(top,#267eb8 0,#136194 100%)!important;
    background-image:linear-gradient(to bottom,#267eb8 0,#136194 100%)!important;
    background-repeat:repeat-x!important;
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff267eb8',endColorstr='#ff136194',GradientType=0)!important}
.btn-app.btn-info,.btn-app.btn-info.no-hover:hover,.btn-app.btn-info.disabled:hover{background:#68adde!important;
    background-image:-webkit-gradient(linear,left 0,left 100%,from(#75b5e6),to(#5ba4d5))!important;
    background-image:-webkit-linear-gradient(top,#75b5e6,0%,#5ba4d5,100%)!important;
    background-image:-moz-linear-gradient(top,#75b5e6 0,#5ba4d5 100%)!important;
    background-image:linear-gradient(to bottom,#75b5e6 0,#5ba4d5 100%)!important;
    background-repeat:repeat-x!important;
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff75b5e6',endColorstr='#ff5ba4d5',GradientType=0)!important}
.btn-app.btn-info:hover{background:#3f96d4!important;
    background-image:-webkit-gradient(linear,left 0,left 100%,from(#4a9ede),to(#348dc9))!important;
    background-image:-webkit-linear-gradient(top,#4a9ede,0%,#348dc9,100%)!important;
    background-image:-moz-linear-gradient(top,#4a9ede 0,#348dc9 100%)!important;
    background-image:linear-gradient(to bottom,#4a9ede 0,#348dc9 100%)!important;
    background-repeat:repeat-x!important;
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff4a9ede',endColorstr='#ff348dc9',GradientType=0)!important}
.btn-app.btn-success,.btn-app.btn-success.no-hover:hover,.btn-app.btn-success.disabled:hover{background:#86b558!important;
    background-image:-webkit-gradient(linear,left 0,left 100%,from(#8ebf60),to(#7daa50))!important;
    background-image:-webkit-linear-gradient(top,#8ebf60,0%,#7daa50,100%)!important;
    background-image:-moz-linear-gradient(top,#8ebf60 0,#7daa50 100%)!important;
    background-image:linear-gradient(to bottom,#8ebf60 0,#7daa50 100%)!important;
    background-repeat:repeat-x!important;
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff8ebf60',endColorstr='#ff7daa50',GradientType=0)!important}
.btn-app.btn-success:hover{background:#6c9842!important;
    background-image:-webkit-gradient(linear,left 0,left 100%,from(#74a844),to(#648740))!important;
    background-image:-webkit-linear-gradient(top,#74a844,0%,#648740,100%)!important;
    background-image:-moz-linear-gradient(top,#74a844 0,#648740 100%)!important;
    background-image:linear-gradient(to bottom,#74a844 0,#648740 100%)!important;
    background-repeat:repeat-x!important;
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff74a844',endColorstr='#ff648740',GradientType=0)!important}
.btn-app.btn-danger,.btn-app.btn-danger.no-hover:hover,.btn-app.btn-danger.disabled:hover{background:#d3413b!important;
    background-image:-webkit-gradient(linear,left 0,left 100%,from(#d55b52),to(#d12723))!important;
    background-image:-webkit-linear-gradient(top,#d55b52,0%,#d12723,100%)!important;
    background-image:-moz-linear-gradient(top,#d55b52 0,#d12723 100%)!important;
    background-image:linear-gradient(to bottom,#d55b52 0,#d12723 100%)!important;
    background-repeat:repeat-x!important;
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffd55b52',endColorstr='#ffd12723',GradientType=0)!important}
.btn-app.btn-danger:hover{background:#b52c26!important;
    background-image:-webkit-gradient(linear,left 0,left 100%,from(#c43a30),to(#a51f1c))!important;
    background-image:-webkit-linear-gradient(top,#c43a30,0%,#a51f1c,100%)!important;
    background-image:-moz-linear-gradient(top,#c43a30 0,#a51f1c 100%)!important;
    background-image:linear-gradient(to bottom,#c43a30 0,#a51f1c 100%)!important;
    background-repeat:repeat-x!important;
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffc43a30',endColorstr='#ffa51f1c',GradientType=0)!important}
.btn-app.btn-warning,.btn-app.btn-warning.no-hover:hover,.btn-app.btn-warning.disabled:hover{background:#ffb44b!important;
    background-image:-webkit-gradient(linear,left 0,left 100%,from(#ffbf66),to(#ffa830))!important;
    background-image:-webkit-linear-gradient(top,#ffbf66,0%,#ffa830,100%)!important;
    background-image:-moz-linear-gradient(top,#ffbf66 0,#ffa830 100%)!important;
    background-image:linear-gradient(to bottom,#ffbf66 0,#ffa830 100%)!important;
    background-repeat:repeat-x!important;
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffbf66',endColorstr='#ffffa830',GradientType=0)!important}
.btn-app.btn-warning:hover{background:#fe9e19!important;
    background-image:-webkit-gradient(linear,left 0,left 100%,from(#fa3),to(#fc9200))!important;
    background-image:-webkit-linear-gradient(top,#fa3,0%,#fc9200,100%)!important;
    background-image:-moz-linear-gradient(top,#fa3 0,#fc9200 100%)!important;
    background-image:linear-gradient(to bottom,#fa3 0,#fc9200 100%)!important;
    background-repeat:repeat-x!important;
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffaa33',endColorstr='#fffc9200',GradientType=0)!important}
.btn-app.btn-purple,.btn-app.btn-purple.no-hover:hover,.btn-app.btn-purple.disabled:hover{background:#9889c1!important;
    background-image:-webkit-gradient(linear,left 0,left 100%,from(#a696ce),to(#8a7cb4))!important;
    background-image:-webkit-linear-gradient(top,#a696ce,0%,#8a7cb4,100%)!important;
    background-image:-moz-linear-gradient(top,#a696ce 0,#8a7cb4 100%)!important;
    background-image:linear-gradient(to bottom,#a696ce 0,#8a7cb4 100%)!important;
    background-repeat:repeat-x!important;
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffa696ce',endColorstr='#ff8a7cb4',GradientType=0)!important}
.btn-app.btn-purple:hover{background:#7b68af!important;
    background-image:-webkit-gradient(linear,left 0,left 100%,from(#8973be),to(#6d5ca1))!important;
    background-image:-webkit-linear-gradient(top,#8973be,0%,#6d5ca1,100%)!important;
    background-image:-moz-linear-gradient(top,#8973be 0,#6d5ca1 100%)!important;
    background-image:linear-gradient(to bottom,#8973be 0,#6d5ca1 100%)!important;
    background-repeat:repeat-x!important;
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff8973be',endColorstr='#ff6d5ca1',GradientType=0)!important}
.btn-app.btn-pink,.btn-app.btn-pink.no-hover:hover,.btn-app.btn-pink.disabled:hover{background:#d54c7e!important;
    background-image:-webkit-gradient(linear,left 0,left 100%,from(#db5e8c),to(#ce3970))!important;
    background-image:-webkit-linear-gradient(top,#db5e8c,0%,#ce3970,100%)!important;
    background-image:-moz-linear-gradient(top,#db5e8c 0,#ce3970 100%)!important;
    background-image:linear-gradient(to bottom,#db5e8c 0,#ce3970 100%)!important;
    background-repeat:repeat-x!important;
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffdb5e8c',endColorstr='#ffce3970',GradientType=0)!important}
.btn-app.btn-pink:hover{background:#be2f64!important;
    background-image:-webkit-gradient(linear,left 0,left 100%,from(#d2346e),to(#aa2a59))!important;
    background-image:-webkit-linear-gradient(top,#d2346e,0%,#aa2a59,100%)!important;
    background-image:-moz-linear-gradient(top,#d2346e 0,#aa2a59 100%)!important;
    background-image:linear-gradient(to bottom,#d2346e 0,#aa2a59 100%)!important;
    background-repeat:repeat-x!important;
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffd2346e',endColorstr='#ffaa2a59',GradientType=0)!important}
.btn-app.btn-inverse,.btn-app.btn-inverse.no-hover:hover,.btn-app.btn-inverse.disabled:hover{background:#444!important;
    background-image:-webkit-gradient(linear,left 0,left 100%,from(#555),to(#333))!important;
    background-image:-webkit-linear-gradient(top,#555,0%,#333,100%)!important;
    background-image:-moz-linear-gradient(top,#555 0,#333 100%)!important;
    background-image:linear-gradient(to bottom,#555 0,#333 100%)!important;
    background-repeat:repeat-x!important;
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff555555',endColorstr='#ff333333',GradientType=0)!important}
.btn-app.btn-inverse:hover{background:#2b2b2b!important;
    background-image:-webkit-gradient(linear,left 0,left 100%,from(#3b3b3b),to(#1a1a1a))!important;
    background-image:-webkit-linear-gradient(top,#3b3b3b,0%,#1a1a1a,100%)!important;
    background-image:-moz-linear-gradient(top,#3b3b3b 0,#1a1a1a 100%)!important;
    background-image:linear-gradient(to bottom,#3b3b3b 0,#1a1a1a 100%)!important;
    background-repeat:repeat-x!important;
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff3b3b3b',endColorstr='#ff1a1a1a',GradientType=0)!important}
.btn-app.btn-grey,.btn-app.btn-grey.no-hover:hover,.btn-app.btn-grey.disabled:hover{background:#797979!important;
    background-image:-webkit-gradient(linear,left 0,left 100%,from(#898989),to(#696969))!important;
    background-image:-webkit-linear-gradient(top,#898989,0%,#696969,100%)!important;
    background-image:-moz-linear-gradient(top,#898989 0,#696969 100%)!important;
    background-image:linear-gradient(to bottom,#898989 0,#696969 100%)!important;
    background-repeat:repeat-x!important;
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff898989',endColorstr='#ff696969',GradientType=0)!important}
.btn-app.btn-grey:hover{background:#6c6c6c!important;
    background-image:-webkit-gradient(linear,left 0,left 100%,from(#7c7c7c),to(#5c5c5c))!important;
    background-image:-webkit-linear-gradient(top,#7c7c7c,0%,#5c5c5c,100%)!important;
    background-image:-moz-linear-gradient(top,#7c7c7c 0,#5c5c5c 100%)!important;
    background-image:linear-gradient(to bottom,#7c7c7c 0,#5c5c5c 100%)!important;
    background-repeat:repeat-x!important;
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff7c7c7c',endColorstr='#ff5c5c5c',GradientType=0)!important}
.btn.btn-app.btn-light{color:#5a5a5a!important;text-shadow:0 1px 1px #EEE!important}
.btn.btn-app.btn-light,.btn.btn-app.btn-light.no-hover:hover,.btn.btn-app.btn-light.disabled:hover{background:#ededed!important;
    background-image:-webkit-gradient(linear,left 0,left 100%,from(#f4f4f4),to(#e6e6e6))!important;
    background-image:-webkit-linear-gradient(top,#f4f4f4,0%,#e6e6e6,100%)!important;
    background-image:-moz-linear-gradient(top,#f4f4f4 0,#e6e6e6 100%)!important;
    background-image:linear-gradient(to bottom,#f4f4f4 0,#e6e6e6 100%)!important;
    background-repeat:repeat-x!important;
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff4f4f4',endColorstr='#ffe6e6e6',GradientType=0)!important}
.btn.btn-app.btn-light:hover{background:#e0e0e0!important;
    background-image:-webkit-gradient(linear,left 0,left 100%,from(#e7e7e7),to(#d9d9d9))!important;
    background-image:-webkit-linear-gradient(top,#e7e7e7,0%,#d9d9d9,100%)!important;
    background-image:-moz-linear-gradient(top,#e7e7e7 0,#d9d9d9 100%)!important;
    background-image:linear-gradient(to bottom,#e7e7e7 0,#d9d9d9 100%)!important;
    background-repeat:repeat-x!important;
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffe7e7e7',endColorstr='#ffd9d9d9',GradientType=0)!important}
.btn.btn-app.btn-yellow{color:#963!important;text-shadow:0 -1px 0 rgba(255,255,255,0.4)!important}
.btn.btn-app.btn-yellow,.btn.btn-app.btn-yellow.no-hover:hover,.btn.btn-app.btn-yellow.disabled:hover{background:#fee088!important;
    background-image:-webkit-gradient(linear,left 0,left 100%,from(#ffe8a5),to(#fcd76a))!important;
    background-image:-webkit-linear-gradient(top,#ffe8a5,0%,#fcd76a,100%)!important;
    background-image:-moz-linear-gradient(top,#ffe8a5 0,#fcd76a 100%)!important;
    background-image:linear-gradient(to bottom,#ffe8a5 0,#fcd76a 100%)!important;
    background-repeat:repeat-x!important;
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffe8a5',endColorstr='#fffcd76a',GradientType=0)!important}
.btn.btn-app.btn-yellow:hover{background:#fdd96e!important;
    background-image:-webkit-gradient(linear,left 0,left 100%,from(#ffe18b),to(#fbd051))!important;
    background-image:-webkit-linear-gradient(top,#ffe18b,0%,#fbd051,100%)!important;
    background-image:-moz-linear-gradient(top,#ffe18b 0,#fbd051 100%)!important;
    background-image:linear-gradient(to bottom,#ffe18b 0,#fbd051 100%)!important;
    background-repeat:repeat-x!important;
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffe18b',endColorstr='#fffbd051',GradientType=0)!important}
.btn.btn-app.btn-sm{width:80px;font-size:16px;border-radius:10px;line-height:1.5}
.btn.btn-app.btn-xs{width:64px;font-size:15px;border-radius:8px;padding-bottom:7px;padding-top:8px;line-height:1.45}
.btn.btn-app>[class*=icon]{display:block;font-size:42px;margin:0 0 4px;line-height:36px;min-width:0;padding:0}
.btn.btn-app.btn-sm>[class*=icon]{display:block;font-size:32px;line-height:30px;margin:0 0 3px}
.btn.btn-app.btn-xs>[class*=icon]{display:block;font-size:24px;line-height:24px;margin:0}
.btn.btn-app.no-radius{border-radius:0}
.btn.btn-app.radius-4{border-radius:4px}
.btn.btn-app>.badge,.btn.btn-app>.label{position:absolute!important;top:-2px;right:-2px;padding:1px 3px;text-align:center;font-size:12px}
.btn.btn-app>.badge.badge-left,.btn.btn-app>.label.badge-left,.btn.btn-app>.badge.label-left,.btn.btn-app>.label.label-left{right:auto;left:-2px}
.btn.btn-app>.label{padding:1px 6px 3px;font-size:13px}
.btn.btn-app.radius-4>.badge,.btn.btn-app.no-radius>.badge{border-radius:3px}
.btn.btn-app.radius-4>.badge.no-radius,.btn.btn-app.no-radius>.badge.no-radius{border-radius:0}
.btn.btn-app.active{color:#fff}
.btn.btn-app.active:after{display:none}
.btn.btn-app.active.btn-yellow{color:#963;border-color:#fee188}
.btn.btn-app.active.btn-light{color:#515151}
.btn.btn-app.btn-light,.btn.btn-app.btn-yellow{-webkit-box-shadow:0 0 0 1px rgba(0,0,0,0.08) inset!important;
    box-shadow:0 0 0 1px rgba(0,0,0,0.08) inset!important}
.label{border-radius:0;text-shadow:none;font-weight:normal;display:inline-block;background-color:#abbac3!important}
.label[class*="col-"][class*="arrow"]{min-height:0}
.label-transparent,.badge-transparent{background-color:transparent!important}
.label-grey,.badge-grey{background-color:#a0a0a0!important}
.label-info,.badge-info{background-color:#3a87ad!important}
.label-primary,.badge-primary{background-color:#428bca!important}
.label-success,.badge-success{background-color:#82af6f!important}
.label-danger,.badge-danger{background-color:#d15b47!important}
.label-important,.badge-important{background-color:#d15b47!important}
.label-inverse,.badge-inverse{background-color:#333!important}
.label-warning,.badge-warning{background-color:#f89406!important}
.label-pink,.badge-pink{background-color:#d6487e!important}
.label-purple,.badge-purple{background-color:#9585bf!important}
.label-yellow,.badge-yellow{background-color:#fee188!important}
.label-light,.badge-light{background-color:#e7e7e7!important}
.badge-yellow,.label-yellow{color:#963!important;border-color:#fee188}
.badge-light,.label-light{color:#888!important}
.label.arrowed,.label.arrowed-in{position:relative;z-index:1}
.label.arrowed:before,.label.arrowed-in:before{display:inline-block;content:"";position:absolute;top:0;z-index:-1;border:1px solid transparent;
    border-right-color:#abbac3}
.label.arrowed-in:before{border-color:#abbac3;border-left-color:transparent!important}
.label.arrowed-right,.label.arrowed-in-right{position:relative;z-index:1}
.label.arrowed-right:after,.label.arrowed-in-right:after{display:inline-block;content:"";position:absolute;top:0;z-index:-1;
    border:1px solid transparent;border-left-color:#abbac3}
.label.arrowed-in-right:after{border-color:#abbac3;border-right-color:transparent!important}
.label-info.arrowed:before{border-right-color:#3a87ad}
.label-info.arrowed-in:before{border-color:#3a87ad}
.label-info.arrowed-right:after{border-left-color:#3a87ad}
.label-info.arrowed-in-right:after{border-color:#3a87ad}
.label-primary.arrowed:before{border-right-color:#428bca}
.label-primary.arrowed-in:before{border-color:#428bca}
.label-primary.arrowed-right:after{border-left-color:#428bca}
.label-primary.arrowed-in-right:after{border-color:#428bca}
.label-success.arrowed:before{border-right-color:#82af6f}
.label-success.arrowed-in:before{border-color:#82af6f}
.label-success.arrowed-right:after{border-left-color:#82af6f}
.label-success.arrowed-in-right:after{border-color:#82af6f}
.label-warning.arrowed:before{border-right-color:#f89406}
.label-warning.arrowed-in:before{border-color:#f89406}
.label-warning.arrowed-right:after{border-left-color:#f89406}
.label-warning.arrowed-in-right:after{border-color:#f89406}
.label-important.arrowed:before{border-right-color:#d15b47}
.label-important.arrowed-in:before{border-color:#d15b47}
.label-important.arrowed-right:after{border-left-color:#d15b47}
.label-important.arrowed-in-right:after{border-color:#d15b47}
.label-danger.arrowed:before{border-right-color:#d15b47}
.label-danger.arrowed-in:before{border-color:#d15b47}
.label-danger.arrowed-right:after{border-left-color:#d15b47}
.label-danger.arrowed-in-right:after{border-color:#d15b47}
.label-inverse.arrowed:before{border-right-color:#333}
.label-inverse.arrowed-in:before{border-color:#333}
.label-inverse.arrowed-right:after{border-left-color:#333}
.label-inverse.arrowed-in-right:after{border-color:#333}
.label-pink.arrowed:before{border-right-color:#d6487e}
.label-pink.arrowed-in:before{border-color:#d6487e}
.label-pink.arrowed-right:after{border-left-color:#d6487e}
.label-pink.arrowed-in-right:after{border-color:#d6487e}
.label-purple.arrowed:before{border-right-color:#9585bf}
.label-purple.arrowed-in:before{border-color:#9585bf}
.label-purple.arrowed-right:after{border-left-color:#9585bf}
.label-purple.arrowed-in-right:after{border-color:#9585bf}
.label-yellow.arrowed:before{border-right-color:#fee188}
.label-yellow.arrowed-in:before{border-color:#fee188}
.label-yellow.arrowed-right:after{border-left-color:#fee188}
.label-yellow.arrowed-in-right:after{border-color:#fee188}
.label-light.arrowed:before{border-right-color:#e7e7e7}
.label-light.arrowed-in:before{border-color:#e7e7e7}
.label-light.arrowed-right:after{border-left-color:#e7e7e7}
.label-light.arrowed-in-right:after{border-color:#e7e7e7}
.label-grey.arrowed:before{border-right-color:#a0a0a0}
.label-grey.arrowed-in:before{border-color:#a0a0a0}
.label-grey.arrowed-right:after{border-left-color:#a0a0a0}
.label-grey.arrowed-in-right:after{border-color:#a0a0a0}
.label{font-size:12px;line-height:1.15;height:20px}
.label.arrowed{margin-left:5px}
.label.arrowed:before{left:-10px;border-width:10px 5px}
.label.arrowed-in{margin-left:5px}
.label.arrowed-in:before{left:-5px;border-width:10px 5px}
.label.arrowed-right{margin-right:5px}
.label.arrowed-right:after{right:-10px;border-width:10px 5px}
.label.arrowed-in-right{margin-right:5px}
.label.arrowed-in-right:after{right:-5px;border-width:10px 5px}
.label-lg{padding:.3em .6em .4em;font-size:13px;line-height:1.1;height:24px}
.label-lg.arrowed{margin-left:6px}
.label-lg.arrowed:before{left:-12px;border-width:12px 6px}
.label-lg.arrowed-in{margin-left:6px}
.label-lg.arrowed-in:before{left:-6px;border-width:12px 6px}
.label-lg.arrowed-right{margin-right:6px}
.label-lg.arrowed-right:after{right:-12px;border-width:12px 6px}
.label-lg.arrowed-in-right{margin-right:6px}
.label-lg.arrowed-in-right:after{right:-6px;border-width:12px 6px}
.label-xlg{padding:.3em .7em .4em;font-size:14px;line-height:1.3;height:28px}
.label-xlg.arrowed{margin-left:7px}
.label-xlg.arrowed:before{left:-14px;border-width:14px 7px}
.label-xlg.arrowed-in{margin-left:7px}
.label-xlg.arrowed-in:before{left:-7px;border-width:14px 7px}
.label-xlg.arrowed-right{margin-right:7px}
.label-xlg.arrowed-right:after{right:-14px;border-width:14px 7px}
.label-xlg.arrowed-in-right{margin-right:7px}
.label-xlg.arrowed-in-right:after{right:-7px;border-width:14px 7px}
.label-sm{padding:.2em .4em .3em;font-size:11px;line-height:1;height:18px}
.label-sm.arrowed{margin-left:4px}
.label-sm.arrowed:before{left:-8px;border-width:9px 4px}
.label-sm.arrowed-in{margin-left:4px}
.label-sm.arrowed-in:before{left:-4px;border-width:9px 4px}
.label-sm.arrowed-right{margin-right:4px}
.label-sm.arrowed-right:after{right:-8px;border-width:9px 4px}
.label-sm.arrowed-in-right{margin-right:4px}
.label-sm.arrowed-in-right:after{right:-4px;border-width:9px 4px}
.label>span,.label>[class*="icon-"]{line-height:1;vertical-align:bottom}

.form-line{margin-bottom:24px;padding-bottom:12px;border-bottom:1px solid #EEE}
.form-actions{display:block;background-color:#f5f5f5;border-top:1px solid #e5e5e5;margin-bottom:20px;margin-top:20px;padding:19px 20px 20px}
.help-button{display:inline-block;height:22px;width:22px;line-height:22px;text-align:center;padding:0;background-color:#65bcda;color:#FFF;
    font-size:12px;font-weight:bold;cursor:default;margin-left:4px;border-radius:100%;border-color:#FFF;border:2px solid #FFF;
    -webkit-box-shadow:0 1px 0 1px rgba(0,0,0,0.2);box-shadow:0 1px 0 1px rgba(0,0,0,0.2)}
.help-button:hover{background-color:#65bcda;text-shadow:none}label{font-weight:normal;font-size:14px}
.form-group>label[class*="col-"]{padding-top:4px;margin-bottom:4px}
label,.lbl{vertical-align:middle}
td>label,th>label,label.inline{margin-bottom:0;line-height:inherit}
textarea,input[type="text"],input[type="password"],input[type="datetime"],input[type="datetime-local"],input[type="date"],input[type="month"],
input[type="time"],input[type="week"],input[type="number"],input[type="email"],input[type="url"],input[type="search"],input[type="tel"],
input[type="color"]{border-radius:0!important;color:#858585;background-color:#fff;border:1px solid #d5d5d5;padding:5px 4px;line-height:1.2;
    font-size:14px;font-family:inherit;-webkit-box-shadow:none!important;box-shadow:none!important;-webkit-transition-duration:.1s;
    transition-duration:.1s}
textarea:hover,input[type="text"]:hover,input[type="password"]:hover,input[type="datetime"]:hover,input[type="datetime-local"]:hover,
input[type="date"]:hover,input[type="month"]:hover,input[type="time"]:hover,input[type="week"]:hover,input[type="number"]:hover,
input[type="email"]:hover,input[type="url"]:hover,input[type="search"]:hover,input[type="tel"]:hover,input[type="color"]:hover{border-color:#b5b5b5}
textarea:focus,input[type="text"]:focus,input[type="password"]:focus,input[type="datetime"]:focus,input[type="datetime-local"]:focus,
input[type="date"]:focus,input[type="month"]:focus,input[type="time"]:focus,input[type="week"]:focus,input[type="number"]:focus,
input[type="email"]:focus,input[type="url"]:focus,input[type="search"]:focus,input[type="tel"]:focus,input[type="color"]:focus{-webkit-box-shadow:none;
    box-shadow:none;color:#696969;border-color:#f59942;background-color:#fff;outline:0}
.form-control,select{border-radius:0;-webkit-box-shadow:none!important;box-shadow:none!important;color:#858585;background-color:#fff;
    border:1px solid #d5d5d5}.form-control:focus,select:focus{color:#696969;border-color:#f59942;background-color:#fff;outline:0}
textarea.form-control{padding:5px 9px}
select{padding:3px 4px;height:30px}
select.form-control{padding:4px 6px;height:32px}
select[multiple],select.form-control[multiple]{height:auto}
input.block{display:block;margin-bottom:9px}
textarea.autosize-transition{-webkit-transition-duration:"height 0.2s";transition-duration:"height 0.2s"}
select option,select.form-control option{padding:3px 4px}
select option:active,select.form-control option:active,select option:hover,select.form-control option:hover,select option:focus,
select.form-control option:focus{background-color:#e5e9ee;color:#111}
select option[value=""],select.form-control option[value=""]{padding:0}
input[disabled]{color:#848484!important;background-color:#eee!important}
input[disabled]:hover{border-color:#d5d5d5!important}
input[readonly]{color:#939192;background:#f5f5f5!important;cursor:default}
input[readonly]:hover{border-color:#c3c3c3}
input[readonly]:focus{-webkit-box-shadow:none;box-shadow:none;border-color:#aaa;background-color:#f9f9f9}
.help-inline{font-size:13px!important}.input-icon{position:relative}span.input-icon{display:inline-block}
.input-icon>input{padding-left:24px;padding-right:6px}
.input-icon.input-icon-right>input{padding-left:6px;padding-right:24px}
.input-icon>[class*="icon-"]{padding:0 3px;z-index:2;position:absolute;top:1px;bottom:1px;left:3px;line-height:28px;display:inline-block;color:#909090;
    font-size:16px}.input-icon.input-icon-right>[class*="icon-"]{left:auto;right:3px}.input-icon>input:focus+[class*="icon-"]{color:#579}
.input-icon ~ .help-inline{padding-left:8px}
.form-search .radio [type=radio]+label,.form-inline .radio [type=radio]+label,.form-search .checkbox [type=checkbox]+label,
.form-inline .checkbox [type=checkbox]+label{float:left;margin-left:-20px}
.form-search .form-search .radio [type=radio]+label,.form-search .form-inline .radio [type=radio]+label,
.form-search .form-search .checkbox [type=checkbox]+label,.form-search .form-inline .checkbox [type=checkbox]+label,
.form-inline .form-search .radio [type=radio]+label,.form-inline .form-inline .radio [type=radio]+label,
.form-inline .form-search .checkbox [type=checkbox]+label,.form-inline .form-inline .checkbox [type=checkbox]+label{margin-left:0;margin-right:3px}
.form-search .input-append .search-query:focus,.form-search .input-prepend .search-query:focus{-webkit-box-shadow:none;box-shadow:none}
.input-append input,.input-prepend input,.input-append select,.input-prepend select,.input-append .uneditable-input,
.input-prepend .uneditable-input{border-radius:0}
.input-mini{width:60px;max-width:100%}.input-small{width:90px;max-width:100%}
.input-medium{width:150px;max-width:100%}.input-large{width:210px;max-width:100%}
.input-xlarge{width:270px;max-width:100%}.input-xxlarge{width:530px;max-width:100%}input.input-lg{font-size:18px}
input.input-sm{font-size:12px}
input[type=checkbox].ace,input[type=radio].ace{opacity:0;position:absolute;z-index:12;width:18px;height:18px;cursor:pointer}
input[type=checkbox].ace:checked,input[type=radio].ace:checked,input[type=checkbox].ace:focus,input[type=radio].ace:focus{outline:none!important}

.form-group.has-error .chosen-single{border-color:#f09784!important}
.form-group.has-info .chosen-single{border-color:#64a6bc!important}
.form-group.has-warning .chosen-single{border-color:#e0c43a!important}
.form-group.has-success .chosen-single{border-color:#92bf65!important}

.datepicker td,.daterangepicker td,.datepicker th,.daterangepicker th{border-radius:0!important;font-size:13px}
.datepicker td.active,.daterangepicker td.active,.datepicker td.active:hover,.daterangepicker td.active:hover{background:#2283c5!important}
.datepicker td.active.disabled,.daterangepicker td.active.disabled,.datepicker td.active.disabled:hover,.daterangepicker td.active.disabled:hover{background:#8b9aa3!important}
.datepicker td,.datepicker th{min-width:32px}
.datepicker-months .month,.datepicker-years .year{border-radius:0!important}
.datepicker-months .month.active,.datepicker-years .year.active,.datepicker-months .month.active:hover,.datepicker-years .year.active:hover,.datepicker-months .month.active:focus,.datepicker-years .year.active:focus,.datepicker-months .month.active:active,.datepicker-years .year.active:active{background-image:none!important;background-color:#2283c5!important}
.bootstrap-timepicker-widget table td input{width:32px}
.bootstrap-timepicker-widget table td a:hover{border-radius:0}
.well .datepicker table tr td.day:hover{background-color:#7d8893;color:#FFF}
.btn{filter:progid:DXImageTransform.Microsoft.gradient(enabled=false)!important}
.progress,.progress .bar{filter:progid:DXImageTransform.Microsoft.gradient(enabled=false)!important}

.col-xs-12,.col-sm-12,.col-md-12,.col-lg-12{float:left}
.col-xs-reset{width:auto;padding-left:0;padding-right:0;float:none}
@media(min-width:768px){.col-sm-reset{width:auto;padding-left:0;padding-right:0;float:none}}
@media(min-width:992px){.col-md-reset{width:auto;padding-left:0;padding-right:0;float:none}}
@media(min-width:1200px){.col-lg-reset{width:auto;padding-left:0;padding-right:0;float:none}}
@media only screen and (max-width:767px){.error-container{margin:12px}}
@media only screen and (max-width:480px){.error-container{margin:6px}}

th,td,.table-bordered{border-radius:0!important}
.table thead tr{color:#707070;font-weight:normal;background:#f2f2f2;background-image:-webkit-gradient(linear,left 0,left 100%,from(#f8f8f8),to(#ececec));background-image:-webkit-linear-gradient(top,#f8f8f8,0%,#ececec,100%);background-image:-moz-linear-gradient(top,#f8f8f8 0,#ececec 100%);background-image:linear-gradient(to bottom,#f8f8f8 0,#ececec 100%);background-repeat:repeat-x;filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff8f8f8',endColorstr='#ffececec',GradientType=0)}
.table thead tr th{border-color:#DDD;font-weight:bold}
.table thead tr th [class*="icon-"]:first-child{margin-right:2px}
.table thead tr th:first-child{border-left-color:#f1f1f1}.table thead tr th:left-child{border-right-color:#f1f1f1}
.table.table-bordered thead tr th{vertical-align:middle}.table.table-bordered thead tr th:first-child{border-left-color:#DDD}
th.center,td.center{text-align:center}th .lbl,td .lbl{margin-bottom:0}th .lbl:only-child,td .lbl:only-child{vertical-align:top}
.table-header{background-color:#307ecc;color:#FFF;font-size:14px;line-height:38px;padding-left:12px;margin-bottom:1px}
.table-header .close{margin-right:8px;margin-top:0;opacity:.45;filter:alpha(opacity=45)}.table-header .close:hover{opacity:.75;filter:alpha(opacity=75)}
.dataTables_length select{width:70px;height:25px;padding:2px 3px}.dataTables_length label{font-weight:normal}
.dataTables_filter{text-align:right}.dataTables_filter input[type=text]{width:125px;height:18px;line-height:18px;-webkit-box-sizing:content-box;-moz-box-sizing:content-box;box-sizing:content-box;padding:4px 6px}
.dataTables_filter label{font-weight:normal}.dataTables_info{font-size:14px}.dataTables_paginate{text-align:right}
.dataTables_paginate .pagination{margin:0 12px}.dataTables_wrapper label{display:inline-block;font-size:13px}
.dataTables_wrapper input[type=text],.dataTables_wrapper select{margin-bottom:0!important;margin:0 4px}.dataTables_wrapper .row{margin:0}.dataTables_wrapper .row:first-child{padding-top:12px;padding-bottom:12px;background-color:#eff3f8}
.dataTables_wrapper .row:first-child+.dataTable{border-top:1px solid #DDD;border-bottom:1px solid #DDD}.dataTables_wrapper .row:last-child{border-top:1px solid #DDD;padding-top:12px;padding-bottom:12px;background-color:#eff3f8;border-bottom:1px solid #DDD}
.dataTable{margin-bottom:0}.dataTable th[class*=sort]{cursor:pointer}.dataTable th[class*=sort]:after{content:"\f0dc";display:inline-block;color:#555;font-family:FontAwesome;font-size:13px;font-weight:normal;float:right;margin-right:4px;position:relative}
.dataTable th[class*=sort]:hover{color:#547ea8}.dataTable th[class*=sorting_]{color:#307ecc}
.dataTable th.sorting_desc,.dataTable th.sorting_asc{background-image:-webkit-gradient(linear,left 0,left 100%,from(#eff3f8),to(#e3e7ed));background-image:-webkit-linear-gradient(top,#eff3f8,0%,#e3e7ed,100%);background-image:-moz-linear-gradient(top,#eff3f8 0,#e3e7ed 100%);background-image:linear-gradient(to bottom,#eff3f8 0,#e3e7ed 100%);background-repeat:repeat-x;filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffeff3f8',endColorstr='#ffe3e7ed',GradientType=0)}
.dataTable th.sorting_desc:after{content:"\f0dd";color:#307ecc}
.dataTable th.sorting_asc:after{content:"\f0de";color:#307ecc}
.dataTable th.sorting_disabled{cursor:inherit;color:#333;}.dataTable th.sorting_disabled:after{display:none}

.section-title {
    font-size: 17px;
    line-height: 28px;
    margin-bottom: 16px;
    margin-top: 18px;
    padding-bottom: 4px;
    border-bottom: 1px solid #cce2c1;
    color: #999!important;
}
.inline-block {
    display: inline-block;
}
.table-cell {
    display: table-cell;
}
.panel-title {
    line-height: 42px;
    font-size: 20px;
}
.modal-dialog {
    margin-top: 60px !important;
}
a.opt{
    display: inline-block;
    padding: 5px;
}
.opt a{
	display: inline-block;
    padding: 5px;
}